# Avaliação do Repositório

In [1]:
import pandas as pd
from sqlalchemy import create_engine

sqlEngine       = create_engine('mysql+pymysql://siasg:siasg@192.168.2.135/siasg', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

totalitenscontratos = len(pd.read_sql('SELECT contrato_id FROM siasg.itensComprasContratos', dbConnection))
totalitenscontratosmaterial = len(pd.read_sql("SELECT contrato_id FROM siasg.itensComprasContratos WHERE tipo_id='Material'", dbConnection))

print('Total de itens de contratos antes da eliminação= '+str(totalitenscontratos))
print('Total de itens de material dos contratos antes da eliminação= '+str(totalitenscontratosmaterial))

Total de itens de contratos antes da eliminação= 275050
Total de itens de material dos contratos antes da eliminação= 106809

In [2]:
dfitenslicitacoes2022 = pd.read_sql("SELECT id_licitacao FROM siasg.itensPrecoPraticado where id_licitacao in (SELECT identificador FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2022')", dbConnection);
dfitenslicitacoes2023 = pd.read_sql("SELECT id_licitacao FROM siasg.itensPrecoPraticado where id_licitacao in (SELECT identificador FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2023')", dbConnection);
totalitenslicitacaoes=len(dfitenslicitacoes2022)+len(dfitenslicitacoes2023)
dfitenslicitacoes2022m = pd.read_sql("SELECT id_licitacao FROM siasg.itensPrecoPraticado where id_licitacao in (SELECT identificador FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2022') and codigo_item_servico=0", dbConnection);
dfitenslicitacoes2023m = pd.read_sql("SELECT id_licitacao FROM siasg.itensPrecoPraticado where id_licitacao in (SELECT identificador FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2023') and codigo_item_servico=0", dbConnection);
totalitenslicitacaoesm=len(dfitenslicitacoes2022m)+len(dfitenslicitacoes2023m)
print('Total de itens de licitações antes da eliminação= '+str(totalitenslicitacaoes))
print('Total de itens de material das licitações antes da eliminação= '+str(totalitenslicitacaoesm))
print('Total de itens antes da eliminação= '+str( totalitenscontratos+totalitenslicitacaoes))
print('Total de itens de material antes da eliminação= '+str(totalitenscontratosmaterial+totalitenslicitacaoesm))

Total de itens de licitações antes da eliminação= 818523
Total de itens de material das licitações antes da eliminação= 683331
Total de itens antes da eliminação= 1093573
Total de itens de material antes da eliminação= 790140

In [3]:
totalitenscontratosmaterialdepois = len(pd.read_sql("SELECT licitacao_contrato FROM siasg.itens WHERE licitacao_contrato=0", dbConnection))
print('Total de itens de material dos contratos depois da eliminação= '+str(totalitenscontratosmaterialdepois))

Total de itens de material dos contratos depois da eliminação= 106276

In [4]:
totalitenslicitacoesmaterialdepois = len(pd.read_sql("SELECT licitacao_contrato FROM siasg.itens WHERE licitacao_contrato!=0", dbConnection))
print('Total de itens de material das licitações depois da eliminação= '+str(totalitenslicitacoesmaterialdepois))
print('Total de itens de material depois da eliminação= '+str(totalitenscontratosmaterialdepois+totalitenslicitacoesmaterialdepois))

Total de itens de material das licitações depois da eliminação= 30402
Total de itens de material depois da eliminação= 136678

In [4]:
from sqlalchemy import create_engine
from urllib.request import urlopen
from urllib.error import URLError, HTTPError
import pymysql
import datetime
import json
from sqlalchemy.dialects.mysql import insert
import pandas as pd
sqlEngine       = create_engine('mysql+pymysql://siasg:siasg@192.168.2.135/siasg', pool_recycle=3600)
dbConnection    = sqlEngine.connect()
itens = pd.read_sql("SELECT * from siasg.itens", dbConnection);

maioresitens = pd.read_sql("SELECT catmat_id, count(*) from siasg.itens where valor_unitario>0 and catmat_id!=0 group by catmat_id order by count(*) desc", dbConnection);
print(maioresitens.head(13))

    catmat_id  count(*)
0      104671     47391
1      150658     17409
2      445485       741
3      402920       431
4      150877       384
5      481567       357
6      460872       347
7      469793       277
8      461652       209
9      464381       205
10     461506       190
11     463795       159
12     150515       158

In [ ]:
itens.describe()

In [7]:
print(len(itens))

136678

In [8]:
itens.dtypes

licitacao_contrato             int64
id                             int64
data                          object
catmat_id                      int64
quantidade                     int64
unidade                       object
valor_unitario               float64
valor_total                  float64
municipio_uasg                 int64
municipio_fornecedor         float64
distancia_uasg_fornecedor    float64
dtype: object

In [9]:
itens.select_dtypes(include='number').head()

,licitacao_contrato,id,catmat_id,quantidade,valor_unitario,valor_total,municipio_uasg,municipio_fornecedor,distancia_uasg_fornecedor
0,0,652047,422284,45,30.45,1370.25,91839,90670.0,735.014
1,0,652048,71889,20,399.95,7999.00,91839,90670.0,735.014
2,0,652049,459872,20,68.00,1360.00,91839,90670.0,735.014
3,0,762436,330684,2,165000.00,330000.00,25216,62138.0,1709.830
4,0,793471,2151,250,69.84,17458.90,47333,65510.0,418.920

In [10]:
itens.select_dtypes(include='object')

              data               unidade
0       2022-02-04
1       2022-02-04
2       2022-02-04
3       2022-01-07
4       2022-07-13
...            ...                   ...
136673  2022-12-15  Rolo
136674  2022-12-15  Unidade
136675  2022-12-15  Unidade
136676  2022-12-15  Unidade
136677  2022-12-15  Unidade

[136678 rows x 2 columns]

In [11]:
itens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136678 entries, 0 to 136677
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   licitacao_contrato         136678 non-null  int64
 1   id                         136678 non-null  int64
 2   data                       136678 non-null  object
 3   catmat_id                  136678 non-null  int64
 4   quantidade                 136678 non-null  int64
 5   unidade                    136678 non-null  object
 6   valor_unitario             136678 non-null  float64
 7   valor_total                136678 non-null  float64
 8   municipio_uasg             136678 non-null  int64
 9   municipio_fornecedor       136670 non-null  float64
 10  distancia_uasg_fornecedor  136678 non-null  float64
dtypes: float64(4), int64(5), object(2)
memory usage: 11.5+ MB

In [12]:
itens.isnull().sum()

licitacao_contrato           0
id                           0
data                         0
catmat_id                    0
quantidade                   0
unidade                      0
valor_unitario               0
valor_total                  0
municipio_uasg               0
municipio_fornecedor         8
distancia_uasg_fornecedor    0
dtype: int64

In [13]:
itens.isnull().sum().sum()

8