# Geração dos Dados do Quadro 1 e 2 - Número de registros recuperados dos dados abertos do SIASG

In [1]:
# Conexão com base Mysql que contém os dados 
from sqlalchemy import create_engine
import pandas as pd
  
sqlEngine       = create_engine('mysql+pymysql://siasg:siasg@192.168.2.135/siasg', pool_recycle=3600)
dbConnection    = sqlEngine.connect()

In [2]:
# Gera dataframe para os dados do quadro 1
quadro1 = ['Entidade','Quantidade']
dfQuadro1 = pd.DataFrame(columns=quadro1)

In [3]:
classes = len(pd.read_sql("SELECT * FROM siasg.classes", dbConnection));
new_row ={'Entidade':'Classes','Quantidade': classes}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [4]:
contratos = len(pd.read_sql("SELECT * FROM siasg.comprasContratos", dbConnection));
new_row ={'Entidade':'Contratos','Quantidade': contratos}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [5]:
fornecedores = len(pd.read_sql("SELECT * FROM siasg.fornecedores", dbConnection));
new_row ={'Entidade':'Fornecedores','Quantidade': fornecedores}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [6]:
grupos = len(pd.read_sql("SELECT * FROM siasg.grupos", dbConnection));
new_row ={'Entidade':'Grupos','Quantidade': grupos}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [7]:
itenscontratos = len(pd.read_sql("SELECT * FROM siasg.itensComprasContratos", dbConnection));
new_row ={'Entidade':'Itens de contratos','Quantidade': itenscontratos}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [8]:
itenslicitacoes = len(pd.read_sql("SELECT * FROM siasg.itensLicitacao", dbConnection));
new_row ={'Entidade':'Itens de licitações','Quantidade': itenslicitacoes}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [9]:
itensprecospraticados = len(pd.read_sql("SELECT * FROM siasg.itensPrecoPraticado", dbConnection));
new_row ={'Entidade':'Itens de preços praticados','Quantidade': itensprecospraticados}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [10]:
itenspregoes = len(pd.read_sql("SELECT * FROM siasg.itenspregoes", dbConnection));
new_row ={'Entidade':'Itens de pregões','Quantidade': itenspregoes}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [11]:
licitacoes = len(pd.read_sql("SELECT * FROM siasg.licitacoes", dbConnection));
new_row ={'Entidade':'Licitações','Quantidade': licitacoes}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [12]:
materiais = len(pd.read_sql("SELECT * FROM siasg.materiais", dbConnection));
new_row ={'Entidade':'Materiais','Quantidade': materiais}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [13]:
municipios = len(pd.read_sql("SELECT * FROM siasg.municipios", dbConnection));
new_row ={'Entidade':'Municípios','Quantidade': municipios}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [14]:
pregoes = len(pd.read_sql("SELECT * FROM siasg.pregoes", dbConnection));
new_row ={'Entidade':'Pregões','Quantidade': pregoes}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [15]:
uasgs = len(pd.read_sql("SELECT * FROM siasg.uasg", dbConnection));
new_row ={'Entidade':'Uasgs','Quantidade': uasgs}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Quantidade'],index=[0])
dfQuadro1 = pd.concat([dfQuadro1,dfnovo], ignore_index=True)

In [16]:
print(dfQuadro1)

                      Entidade Quantidade
0                      Classes        710
1                    Contratos      75565
2                 Fornecedores     580782
3                       Grupos         79
4           Itens de contratos     134524
5          Itens de licitações     124002
6   Itens de preços praticados     829897
7             Itens de pregões      19312
8                   Licitações      48217
9                    Materiais     211427
10                  Municípios       5580
11                     Pregões      44297
12                       Uasgs      31440

In [17]:
# Gera dataframe para os dados do quadro 2
quadro2 = ['Entidade','Qtd_2022','Qtd_2023','Qtd_total']
dfQuadro2 = pd.DataFrame(columns=quadro2)

In [18]:
# Seleciona os contratos de 2022 e 2023
dfcontratos2022 = pd.read_sql("SELECT id, SUBSTRING(data_assinatura,1,4) AS ano FROM siasg.comprasContratos where SUBSTRING(data_assinatura,1,4)='2022'", dbConnection);
dfcontratos2023 = pd.read_sql("SELECT id, SUBSTRING(data_assinatura,1,4) AS ano FROM siasg.comprasContratos where SUBSTRING(data_assinatura,1,4)='2023'", dbConnection);

In [19]:
# Calcula o total de contratos e o total de 2022 e 2023
totalcontratos2022 = len(dfcontratos2022)
totalcontratos2023 = len(dfcontratos2023)
totalcontratos=totalcontratos2022+totalcontratos2023
new_row ={'Entidade':'Contratos','Qtd_2022':totalcontratos2022,'Qtd_2023':totalcontratos2023,'Qtd_total':totalcontratos}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Qtd_2022','Qtd_2023','Qtd_total'],index=[0])
dfQuadro2 = pd.concat([dfQuadro2,dfnovo], ignore_index=True)

In [20]:
# Seleciona as Licitações de 2022 e 2023
dflicitacoes2022 = pd.read_sql("SELECT  identificador, SUBSTRING(data_publicacao,1,4) as ano FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2022'", dbConnection);
dflicitacoes2023 = pd.read_sql("SELECT  identificador, SUBSTRING(data_publicacao,1,4) as ano FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2023'", dbConnection);

In [21]:
# Calcula o total de licitações e o total de 2022 e 2023
totallicitacoes2022 = len(dflicitacoes2022)
totallicitacoes2023 = len(dflicitacoes2023)
totallicitacoes=totallicitacoes2022+totallicitacoes2023
new_row ={'Entidade':'Licitações','Qtd_2022':totallicitacoes2022,'Qtd_2023':totallicitacoes2023,'Qtd_total':totallicitacoes}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Qtd_2022','Qtd_2023','Qtd_total'],index=[0])
dfQuadro2 = pd.concat([dfQuadro2,dfnovo], ignore_index=True)

In [22]:
dfitenscontratos = pd.read_sql('SELECT contrato_id FROM siasg.itensComprasContratos', dbConnection);
dfitenscontratos2022 = pd.read_sql("SELECT contrato_id FROM siasg.itensComprasContratos where contrato_id in (SELECT id FROM siasg.comprasContratos where SUBSTRING(data_assinatura,1,4)='2022')", dbConnection);
dfitenscontratos2023 = pd.read_sql("SELECT contrato_id FROM siasg.itensComprasContratos where contrato_id in (SELECT id FROM siasg.comprasContratos where SUBSTRING(data_assinatura,1,4)='2023')", dbConnection);
new_row ={'Entidade':'Itens de contratos','Qtd_2022':len(dfitenscontratos2022),'Qtd_2023':len(dfitenscontratos2023),'Qtd_total':len(dfitenscontratos)}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Qtd_2022','Qtd_2023','Qtd_total'],index=[0])
dfQuadro2 = pd.concat([dfQuadro2,dfnovo], ignore_index=True)

In [23]:
dfitenslicitacoes2022 = pd.read_sql("SELECT id_licitacao FROM siasg.itensPrecoPraticado where id_licitacao in (SELECT identificador FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2022')", dbConnection);
dfitenslicitacoes2023 = pd.read_sql("SELECT id_licitacao FROM siasg.itensPrecoPraticado where id_licitacao in (SELECT identificador FROM siasg.licitacoes where SUBSTRING(data_publicacao,1,4)='2023')", dbConnection);
total=len(dfitenslicitacoes2022)+len(dfitenslicitacoes2023)
new_row ={'Entidade':'Itens de licitações','Qtd_2022':len(dfitenslicitacoes2022),'Qtd_2023':len(dfitenslicitacoes2023),'Qtd_total':total}
dfnovo= pd.DataFrame(data=new_row, columns=['Entidade','Qtd_2022','Qtd_2023','Qtd_total'],index=[0])
dfQuadro2 = pd.concat([dfQuadro2,dfnovo], ignore_index=True)

In [24]:
print(dfQuadro2)

              Entidade Qtd_2022 Qtd_2023 Qtd_total
0            Contratos    42012    33553     75565
1           Licitações    38316     9901     48217
2   Itens de contratos   134460       64    134524
3  Itens de licitações   704240   114283    818523