In [1]:
from sqlalchemy import create_engine
import pymysql
from sqlalchemy.dialects.mysql import insert
import pandas as pd
sqlEngine       = create_engine('mysql+pymysql://siasg:siasg@192.168.2.135/siasg', pool_recycle=3600)
dbConnection    = sqlEngine.connect()
itens = pd.read_sql("SELECT * from siasg.itens", dbConnection);

maioresitens = pd.read_sql("SELECT catmat_id, count(*) from siasg.itens where valor_unitario>0 and catmat_id!=0 group by catmat_id order by count(*) desc LIMIT 5", dbConnection);

In [2]:
print(maioresitens)

   catmat_id  count(*)
0     104671     47391
1     150658     17409
2     445485       741
3     402920       431
4     150877       384